b html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type='checkbox'],
[type='radio'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #43cea2, #185a9d);
}
main {
  position: relative;
  width: 500px;
  min-height: 200px;
}
.html-wrapper {
  margin: 20% auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
.discard {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.preview-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.preview-main__caption {
  margin-top: 50px;
  margin-bottom: 150px;
  color: white;
}
.preview-main__button {
  width: 100px;
  height: 50px;
}
.statistic-main__section {
  position: relative;
  box-sizing: border-box;
  padding: 20px 70px 20px 30px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  color: #e5eaf5;
}
.statistic-main__sorting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 20px;
}
.statistic-main__sorting-panel {
  display: flex;
  flex-wrap: wrap;
}
.statistic-main__sorting-title {
  margin-bottom: 10px;
  margin-left: 20px;
}
.sorting-panel__item:not(:last-of-type) {
  margin-right: 20px;
  margin-bottom: 20px;
}
.sorting-panel__item-button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 2px 15px;
  width: 70px;
  height: 18px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: lightgrey;
}
.sorting-panel__item-wrapper {
  position: relative;
  box-sizing: border-box;
  padding: 0 17px;
  background-color: #85b8a8;
  border-radius: 10px;
  font-size: 12px;
}
.sorting-panel__item-controls {
  position: absolute;
  top: 2px;
  width: 0;
  height: 0;
  font-size: 0;
  border: 6px solid red;
  outline: none;
  background-color: transparent;
  transform: rotate(180deg);
}
.sorting-panel__item-controls--hidden {
  display: none;
}
.sorting-panel__item-controls--back {
  right: -10px;
  border-color: transparent;
  border-right-color: black;
}
.sorting-panel__item-controls--forward {
  left: -10px;
  border-color: transparent;
  border-left-color: black;
}
.statistic-main__sorting-panel {
  display: flex;
}
.statistic-main__table-body {
  position: relative;
  margin-bottom: 40px;
}
.statistic-main__table {
  display: flex;
  flex-direction: column;
}
.statistic-main__table-head {
  margin-bottom: 5px;
}
.statistic-main__table-colums {
  display: flex;
}
.table-colums__item {
  display: flex;
  justify-content: center;
  width: calc(380px / 3);
}
.table-row__item-content {
  display: flex;
}
.table-row__item {
  position: relative;
  margin-bottom: 2px;
  border-radius: 10px;
}
.table-row__item--count {
  background-color: rgba(140, 145, 171, 0.2);
  color: #f2d53c;
}
.table-row__item-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5px;
  right: -60px;
  top: 0px;
  width: 50px;
  border-radius: 10px;
}
.controls-panel--count {
  height: 20px;
  width: px;
  background-color: rgba(140, 145, 171, 0.2);
}
.controls-panel__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  outline: none;
  border: none;
  font-size: 10px;
  font-weight: 700;
  background-color: lightcoral;
  cursor: pointer;
}
.controls-panel__item:hover {
  transform: scale(1.5);
}
.controls-panel__item--edit {
  background-color: lightgreen;
}
.statistic-main__add-container {
  position: absolute;
  bottom: -35px;
  left: 5px;
}
.statistic-main__add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-size: 20px;
  border-radius: 50%;
  outline: none;
  border: none;
  transform: rotate(45deg);
  background-color: rgba(222, 224, 231, 0.9);
  cursor: pointer;
}
.statistic-main__add-button:hover {
  background-color: rgba(222, 224, 231, 0.5);
}
.popup-main {
  z-index: 100;
  position: absolute;
  top: 10px;
  left: 15%;
  width: 350px;
  min-height: 250px;
  background-color: lightblue;
}
.popup-main__overlay {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-main__button-close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 25px;
  font-weight: 900;
  outline: none;
  border: none;
  background-color: transparent;
}
.popup-main__button-close:hover {
  color: red;
}
.popup-main__button-close:active {
  color: lightcoral;
}
.popup-main__caption {
  align-self: center;
  margin-bottom: 20px;
  font-size: 25px;
}
.popup-main__wrapper {
  display: flex;
  flex-direction: column;
}
.popup-main__form {
  box-sizing: border-box;
  padding: 0 20px;
}
.form__item-wrapper:not(:last-of-type) {
  margin-bottom: 10px;
}
.form__item-wrapper {
  display: flex;
}
.form__item-wrapper > label {
  margin-right: 10px;
  width: 100px;
}
.form__item-wrapper > select {
  display: flex;
}
.form__item-wrapper > input,
.form__item-wrapper > select {
  box-sizing: border-box;
  padding: 2px 5px;
  width: 200px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.form__item-wrapper > input:focus,
.form__item-wrapper > select:focus {
  outline: 1px solid lightgreen;
}
.popup-main__button-send {
  position: absolute;
  width: 100px;
  bottom: 30px;
  right: 120px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: rgba(14, 134, 136, 0.5);
}
.popup-main__button-send:hover {
  background-color: lightgreen;
}


/*# sourceMappingURL=main.css.map*/